.invitadas{
    margin: 0;
    padding: 0;
    h1{
        @include estilo-seccion;
        margin: 54px 16px 14px 16px;

    }
    .galeria{
        display: inline-flex;
        flex-wrap: wrap;

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1440px){
    .invitadas{
        position: relative;
        margin: 245px 0 0 0;

        h1{
            display: flex;
            align-items: center;
            @include estilo-seccion;
            font-size: 48px;
            margin: 54px 36px 14px 200px;
            width: 481px;
            height: 62px;
    
        }
        .galeria{
            display: grid;
            display: inline-flex;
            flex-wrap: wrap;
    
            img {
                width: 33.33%;
            }
        }
    }

}