* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap');

@mixin estilo-seccion{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

@mixin estilo-subtitulo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
}

@mixin estilo-texto{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}

@mixin estilo-link{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
    // Header
    @import 'header';

    // Hello world
    @import 'hello';

    // Podcast section
    @import 'podcast';

    // History section
    @import 'historia';

    // Invitadas section
    @import 'invitadas';

    // Topics section
    @import 'topics';

    // Novedades section
    @import 'novedades';

    // Footer section
    @import 'footer';